.carrousel{

  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 20px 0;

  background: black;

  h1{
    color: $white;
    font-size: rem(32);
    padding: 0 0 15px;

    text-align: center;
    text-decoration: underline;
  }

  .swiper-container{
    width: 100vw;
  }

  .swiper-slide{

    background-color: black;

    margin: 0;

    height: auto;


    div.film-carrousel{
      position: relative;

      overflow: hidden;

      height: 100%;

      div.imgCover{

        height: 100%;
        width: 100%;

        transition: all 200ms;

        display: flex;
        align-items: center;
        justify-content: center;

        img{
          height: 100%;
          width: 100%;

        }

      }

      div.contenu{

        position: absolute;
        top: 70%;
        bottom: 0;
        right: 0;
        left: 0;

        transition: all 200ms;

        background: rgba(0,0,0,0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 15px;

        color: $white;


        h2{
          margin: 0;
          font-size: rem(20);
          text-align: center;

          transition: font-size 50ms;
        }

        p{
          margin: 10px 0;

        }



      }

      &:hover{

        div.imgCover{

          filter: blur(5px);

        }

        div.contenu{
          top:0;

          justify-content: center;

          background: rgba(0,0,0,0.5);



          h2{

            font-size: rem(30);

          }

        }


      }

    }

  }

}

.carrousel-btn-nav{

  display: flex;
  justify-content: center;

  i{
    font-size: rem(40);

    margin: 20px;

    color: $color-accent;

  }

}

@media screen and (max-width: $breakpoint-sm){

  .carrousel{

    h1{

      font-size: rem(25);

    }

  }

}



