.secCommentaires{

  color: white;
  background-color: $gray-700;
  border-top: 5px solid $color-accent;
  margin-top: 15px;

  div.wrapper{

    margin:0 auto 0;

    padding-bottom: 20px;

  }

  h3{
    padding-top: 15px;

    margin-bottom: 0;
    text-align: center;

    font-size: rem(30);
  }

  form{
    display: flex;
    flex-direction: column;
    padding: 20px;

    h4{

      font-size: rem(22);

      margin: 0 0 10px;

    }

    label{
      color: $white;
    }

    input, textarea{
      transition: background-color 300ms;

      border: 1px solid $black;
      padding: 5px;



      &:hover {
        background: lighten($color-accent-hover, 15%);
      }
      &:focus {
        background: lighten($color-accent-hover, 10%);
      }
    }
    .btn-publier{

      margin: 15px 0 25px;

      padding: 10px 15px;
      text-align: center;

      align-self: center;

    }
  }

  div.anciensCommentaires{

    display: flex;
    flex-direction: column;

    align-items: center;

    div.commentaire{

      display: flex;

      border: solid black 3px;

      margin: 25px 20px 20px 20px;

      background: $gray-800;

      div.profil{

        display: flex;
        flex-direction: column;

        background: $color-bg-light;
        border-right: 2px solid $black;

        padding: 15px;

        img{
          width: 100%;
          min-width: 70px;
          border-radius: 50%;

        }

        p.nom{

          font-size: rem(20);
          color: $black;

          margin: 0;

          text-align: center;

        }

      }

      p.comm{
        color: $white;
      }

      div.contenu{
        padding: 20px;
        display: flex;
        flex-direction: column;

        div.btns{
          justify-content: flex-end;

          display: flex;


        }

        div.likes, div.dislikes{

          display: flex;

          align-items: center;

          width: max-content;

          i{
            cursor: pointer;
          }

          p{

            padding: 0 5px;

            margin-right: 10px;

          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg){

  .secCommentaires{

    div.anciensCommentaires{

      div.profil{

        width: 40vw;

      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm){

  .secCommentaires{

    div.anciensCommentaires{

      div.commentaire{

        flex-direction: column;

        div.profil{

          order: 1;

          width: 100%;

          align-items: center;

          border-right:  none;
          border-top: 2px solid $black;

          img{
            max-width: 150px;
          }

        }
      }
    }
  }

}