article.infoFilm{


  display: flex;
  flex-direction: column;

  div.infoFilm-sectionFilm{

    display: flex;
    justify-content: space-between;
    color: $white;

    margin: 0;

    padding: 10px;

    .infoFilm-titre{
      margin-top: 30px;
    }

    div.colonne{
      img{
        height: 600px;
        width: auto;
      }
      width: max-content;

    }


    div.infoFilm-sectionInfos{
      display: flex;
      flex-direction: column;

        margin-left: 40px;

      padding: 10px;

        h1{
          margin:0;
        }

        h2{
          margin:0;
        }

      p.titre-info{
        font-size: rem(25);
        text-decoration: underline;

        margin: 10px 0 5px;
      }

      p, div, table{
        padding: 0;
        margin: 0;
      }

        .synopsis{
          margin-top: 30px;
        }

      table{

        width: max-content;

        th, td{
          text-align: left;

          white-space: nowrap;

        }
        td{
          padding-left: 15px;
        }
      }

    }
  }


  div.infoFilm-sectionActeur{
    display: flex;
  }
}


@media screen and (max-width: $breakpoint-lg){
  article.infoFilm{

    padding: 0;

    div.infoFilm-sectionFilm{

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 5px;

      max-width: 100vw;
      box-sizing: border-box;

      div.infoFilm-sectionInfos{
        margin: 0;

        h1{
          text-align: center;
        }

      }

      div.colonne{

        img{
          width: auto;
          height: 380px;
        }

      }

    }

  }
}


