article.films-populaire{

  display: flex;
  flex-direction: column;

  h1{
    text-align: center;
    text-decoration: underline;
    color: white;
  }

  div.liste-films{
    display: flex;
    flex-wrap: wrap;
  }

  div.film-populaire{
    width: calc( 1180px / 3 - 20px );
    margin: 10px;
    padding: 10px;



    a{
      display: flex;
      flex-direction: column;
      height: 100%;
    }



    h1{
      font-size: rem(25);
      color: $gray-400;
    }
    p{
      color: $gray-400;
    }

    .fa-star, .fa-star-half-alt{
      color: $gray-400;
    }

    button{
      margin-top: auto;
      padding: 5px;
      width: 100px;
      border: none;
      align-self: end;
      background-color: $gray-500;

      &:hover{
        background-color: $color-accent-hover;
      }
    }



    &:hover{

      background-color: $gray-700;
      transition: 500ms;

      h1{
        color: $white;
      }
      p{
        color: $white;
      }
      .fa-star, .fa-star-half-alt{
        color: $white;
      }

    }
  }
}

@media screen and (max-width: $max-width){

  article.films-populaire{

    div.film-populaire{

      width: calc( 33% - 20px );

    }

  }

}


@media screen and (max-width: $breakpoint-lg){

  article.films-populaire{

    div.film-populaire{

      width: calc(50% - 20px)

    }

  }

}

@media screen and (max-width: $breakpoint-sm){

  article.films-populaire{

    div.film-populaire{

      width: 100%;

    }

  }

}