footer{

  background: $color-accent;

  div.wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;

    img{

      width: 200px;

    }

    p{

      span{
        font-weight: bold;
      }

    }

    i{
      font-size: rem(45);
      transition: all 100ms;

      &:hover{

        cursor: pointer;
        color: $color-link-hover;

      }

    }

    .col1{


      div.liens-sociaux{

        display: flex;
        flex-direction: row;
        justify-content: center;

      }

      i{
        padding: 10px;
      }
    }

    .col1, .col3{
      width: 25%;

      display: flex;
      flex-direction: column;

    }
    .col2{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .col3{
      align-items: flex-end;
    }

  }


}

@media screen and (max-width: $breakpoint-md){

  footer{

    div.wrapper{

      flex-direction: column;
      .col1{
        a{
          img{
            align-items: center;
          }
        }
      }
      .col3{
        align-items: center;
        order: -1;
      }

      .col{
        padding: 5px 0;
      }

    }

  }

}