header{

  background: $color-accent;

  padding: 20px 0;

  img{
    width: 60px;
  }

  h1{
    margin: 0;

    i.material-icons{
      padding-right: 10px;
      font-size: 40px;
    }
  }

  label, input{
    display: none;
  }

  nav{

    display: flex;
    justify-content: space-between;

    ul{
      display: flex;

      list-style: none;
      padding: 0;

      li{
        padding: 10px;
      }
    }


  }

}

@media screen and (max-width: $breakpoint-md){

  header{

    nav{

      flex-direction: column;
      align-items: center;

      h1{
        word-break: keep-all;
        text-align: center;
      }

      input{
        display: none;
      }

      label{
        display: block;

        padding: 15px;

        font-size: rem(30);

      }

      ul{
        display: none;
      }

      input:checked + ul{
        display: flex;
        flex-direction: column;
        align-items: center;
      }


    }

  }

}


@media screen and (max-width: $breakpoint-xl){

  header{
    padding: 0 20px ;
  }

}

@media screen and (max-width: $breakpoint-sm){

  header{

    h1{
      font-size: rem(42);
    }

  }

}