article.infoFilm{

  div.infoFilm-sectionActeur{

    background-color: $gray-700;

    border-top: 5px solid $color-accent;
    margin-top: 15px;

    div.wrapper{

      h3{
        color: $white;

        font-size: rem(30);

        text-align: center;

      }


      div.liste-acteur{

        display: flex;
        justify-content: space-between;

        div.infoActeur{

          margin-bottom: 20px;
          padding: 20px 10px 20px 0;

          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          align-items: center;

          width: 25vw;
          height: auto;



          div.imgActeur{
            width: 185px;
            height: 185px;
            overflow: hidden;

            border: 2px solid $gray-800;
            border-radius: 50%;

            display: flex;
            align-items: center;

          }

          img{
            width: auto;



          }

          h3, h4{
            margin: 0;
            color: $white;
            text-align: center;
          }

          h3{
            padding: 0;
          }

          .infoActeur-nom{
            margin-bottom: 0;
          }

          .infoActeur-personnage{
            padding: 10px 0;
            color: $color-accent;
          }
        }

      }
    }
  }
}

@media screen and (max-width: $breakpoint-md){

  article.infoFilm{

    div.infoFilm-sectionActeur{

      div.wrapper{

        div.liste-acteur{

          flex-wrap: wrap;

          justify-content: space-evenly;

          div.infoActeur{

            width: 40vw;

          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm){

  article.infoFilm{

    div.infoFilm-sectionActeur{

      div.wrapper{

        div.liste-acteur{
          flex-wrap: wrap;

          justify-content: space-evenly;

          div.infoActeur{

            width: 80vw;

          }
        }
      }
    }
  }
}